# ==========================
# Python Virtual Environment
# ==========================
.venv/
venv/
ENV/

# ==========================
# Environment Variables
# ==========================
.env
.env.local
*.local

# ==========================
# Python Cache
# ==========================
**pycache**/
*.py[cod]
*$py.class
*.so
*.pyc

# ==========================
# Chroma Vector DB
# ==========================
chroma_db_oliview/
chroma_db*/

# ==========================
# Embedding Models
# ==========================
models/

# ==========================
# IDE
# ==========================
.vscode/
.idea/